<div class="container">
  <div class="h4 text-center pt-2 pb-4">
    Book Your Flights Here At discounted Price
  </div>
  <div class="mb-1">Sort By</div>
  <div>
    <!-- Card for the upper heading section displaying duration ,arrrival etc. -->
    <div class="card sort py-1 fs-8">
      <div>DEPARTURE</div>
      <div>DURATION</div>
      <div>ARRIVAL</div>
      <div class="tags">
        <span>PRICE</span>
        <img
          class="gaps"
          width="13"
          height="15"
          src="../../assets/arrow-up-solid.svg"
          alt="up_Arrow"
        />
      </div>
    </div>
    <!-- card to show the flight details using ngform -->
    <div
      class="card mt-3 mb-3 pt-3 ps-3 pe-3"
      *ngFor="let flight of flights; index as i"
    >
      <div class="d-flex">
        <img
          width="20"
          class=""
          src="{{ flight.flightLogo }}"
          alt="flight Logo"
        />
        <small class="mleft">{{ flight.flightName }}</small>
      </div>
      <div class="d-flex flex-row justify-content-between mt-2">
        <!-- div for departure time -->
        <div class="d-flex flex-column">
          <small>
            {{ flight.departLoc }}&nbsp;&nbsp;<small>{{
              flight.departFullLoc
            }}</small>
          </small>
          <div>{{ flight.departure }}</div>
        </div>
        <!-- div for duration -->
        <div>{{ flight.duration }}</div>
        <!-- section for arrival time -->
        <div class="d-flex flex-column">
          <small>
            {{ flight.arrivalLoc }}&nbsp;&nbsp;<small>{{
              flight.departFullLoc
            }}</small>
          </small>
          <div>{{ flight.arrival }}</div>
        </div>
        <!-- price section -->
        <div>
          <div>
            <span
              ><img
                width="20"
                height="18"
                src="../../assets/icons8-rupee-24.png"
                alt="rupee" /></span
            >{{ flight.price }}
          </div>
          <!-- emi portion -->
          <small class="d-flex align-items-center">
            <small> No Cost EMI from</small>
            <img
              width="15"
              height="16"
              src="../../assets/icons8-rupee-24.png"
              alt="rupee"
            />
            <span>{{ flight.emiPrice }}</span>
          </small>
        </div>
        <!-- button section -->
        <div>
          <button
          (click)="openModal(flight)"
            type="button"
            class="butn px-5 py-1 text-white fw-bold"
          >
            BOOK
          </button>
        </div>
      </div>
      <!-- bottom section of details button and a text -->
      <div class="mt-1">
        <small class="text-secondary fs-10">Partially Refundable</small>
        <button
          (click)="toggleDiv(i + 1)"
          class="btn1 d-flex justify-content-end align-items-center"
        >
          <small class="text-primary me-1 fw-bolder"> Flight Details</small>
          <img
            width="17"
            src="../../assets/icons8-chevron-down-30.png"
            alt="down arrow"
          />
        </button>
      </div>

      <!-- dropdown section of fight details page which will be displayed when toggle button pressed -->
      <div class="mt-4 mb-2" [class.d-none]="showDiv">
        <div class="card rounded-pill bg-light mb-2">
          <div class="d-flex flex-row justify-content-between">
            <button
              (click)="onClick('1')"
              [class.active]="check === '1'"
              class="card-btn"
            >
              FLIGHT INFORMATION
            </button>
            <button
              (click)="onClick('2')"
              [class.active]="check === '2'"
              class="card-btn"
            >
              FARE DETAILS
            </button>
            <button
              (click)="onClick('3')"
              [class.active]="check === '3'"
              class="card-btn"
            >
              BAGGAGE RULES
            </button>
            <button
              (click)="onClick('4')"
              [class.active]="check === '4'"
              class="card-btn"
            >
              CANCELLATION RULES
            </button>
          </div>
        </div>
        <div>
          <app-flight-details
            [flightParent]="flights"
            *ngIf="check === '1'"
          ></app-flight-details>
          <app-fare-info
            [flightParent]="flights"
            *ngIf="check === '2'"
          ></app-fare-info>
          <app-baggage
            [flightParent]="flights"
            *ngIf="check === '3'"
          ></app-baggage>
          <app-cancellation
            [flightParent]="flights"
            *ngIf="check === '4'"
          ></app-cancellation>
        </div>
      </div>
    </div>
  </div>
</div>
