<div class="p-4">
  <div class="d-flex flex-row align-items-center">
    <img width="30" src="{{ flightParent.flightLogo }}" alt="flightLogo" />
    <div class="fs ms-2 fw-bold">{{ flightParent.departLoc }}</div>
    <div>-</div>
    <div class="fs fw-bold">{{ flightParent.arrivalLoc }}</div>
    <div class="ms-2 alerts text-white">PARTIALLY REFUNDABLE</div>
  </div>
</div>
<div class="d-flex flex-row align-items-baseline justify-content-between w-100">
  <div class="d-flex flex-column ws">
    <div class="fs p-2">Cancellation Charges</div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="fs">Goibibo Fee</td>
          <td class="fs bg-light">₹300</td>
        </tr>
        <tr>
          <td class="fs">0-2 hours</td>
          <td class="fs bg-light">Non Refundable</td>
        </tr>
        <tr>
          <td class="fs">2-72 hours</td>
          <td class="fs bg-light">₹3500</td>
        </tr>
        <tr>
          <td class="fs">>72 hours</td>
          <td class="fs bg-light">₹3000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-column ws">
    <div class="fs p-2">Reschedule Fees</div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="fs">Goibibo Fee</td>
          <td class="fs bg-light">₹300</td>
        </tr>
        <tr>
          <td class="fs">0-2 hours</td>
          <td class="fs bg-light">Non Refundable</td>
        </tr>
        <tr>
          <td class="fs">2-72 hours</td>
          <td class="fs bg-light">₹3250</td>
        </tr>
        <tr>
          <td class="fs">>72 hours</td>
          <td class="fs bg-light">₹2750</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
