<div class="card p-4">
    <table class="table table-bordered">
      <tbody>
        <tr class="w-50 abc">
          <td class="abc fw-normal">Base Fare(1 Adult)</td>
          <td class="abc">Taxes and Fees(1 Adult)</td>
          <td class="abc fw-bolder">Total Fare(1 Adult)</td>
        </tr>
        <tr class="abc">
          <td class="abc abc1">₹{{ flightParent.price }}</td>
          <td class="abc abc1">₹886</td>
          <td class="abc abc1 fw-bolder">₹{{ flightParent.price + 886 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  