<section class="vh-100">
  <div class="container-fluid h-custom">
    <h1 class="text-center display-4 fw-normal pt-3">Login Form</h1>
    <div class="row d-flex justify-content-center align-items-center pt-5">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../assets/flight-booking.jpg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #userForm="ngForm" (ngSubmit)="onClick(userForm)">
          <!-- Email input -->
          <div class="form-group mb-3">
            <label class="form-label fw-normal" for="form3Example3"
              >Username :</label
            >
            <input
              ngModel
              required
              name="userName"
              #name="ngModel"
              [class.is-invalid]="name.invalid && name.touched"
              type="text"
              id="form3Example3"
              class="form-control is-invalid"
              placeholder="Enter the username"
            />
            <small
              class="text-danger"
              [class.d-none]="name.valid || name.untouched"
              >Username is required</small
            >
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label fw-normal" for="form3Example4"
              >Password :</label
            >
            <input
              required
              ngModel
              #pass="ngModel"
              type="password"
              id="form3Example4"
              name="password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              class="form-control is-invalid"
              [class.is-invalid]="pass.invalid && pass.touched"
              placeholder="Enter password"
            />
            <div *ngIf="pass.errors && pass.invalid && pass.touched">
              <small class="text-danger" *ngIf="pass.errors['required']"
                >Password is required</small
              >
              <small class="text-danger" *ngIf="pass.errors['pattern']"
                >Password must have upperchars</small
              >
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a routerLink="" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              [disabled]="userForm.form.invalid"
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-3 mb-0">
              Don't have an account?
              <a routerLink="" class="link-danger">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"
  >
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. All rights reserved.
    </div>
  </div>
</section>
